<div class="palm-header" x-mojo-loc="">Battery Saver</div>
<div class="palm-header-spacer"></div>

<div class="palm-row last">
<div class="palm-row-wrapper">
	<div id="master-switch" x-mojo-element="ToggleButton"></div>
	<div class="title truncating-text" x-mojo-loc=''>Battery Saver</div>
</div>
</div>

<div id="on-off-time-group" class="palm-group">
	<div class="palm-group-title" x-mojo-loc="">Airplane Mode</div>
	<div id="radio-off" x-mojo-element="TimePicker" style="margin-top:-15px;"></div>
	<div id="radio-on" x-mojo-element="TimePicker" style="margin-top:-10px;"></div>
	<div class="palm-info-text" style="margin: 8px 5px 8px 0px;">
		Airplane Mode turns off the cellular and WiFi radios in your phone. 
		This allows your phone to get a good night's sleep, just like you.
		<font color="red">Keep in mind that you will not receive phone calls while in airplane mode.</font> 
	</div>	
</div>
<div id="master-switch-is-off" class="palm-body-text" style="margin: 8px 8px 18px 8px; display:none;">
    Battery Saver is currently turned off. Set the switch to On when you want it to
	automatically control airplane mode for you. 
</div>
<div class="palm-body-text" x-mojo-loc="">Please report issues to <a href="mailto:excessdata@yahoo.com?subject=Battery%20Saver">excessdata@yahoo.com</a></div>
